.profile__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 486px;
}

@media screen  and (max-width: 898px) {
  .profile__info {
    max-width: 320px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
}